DATABASE_URL=
ADMIN_EMAILS=
NEXT_PUBLIC_APP_URL=https://comparador-pmc-medicamentos.vercel.app
NEXT_PUBLIC_BILLING_ENABLED=false
NEXT_PUBLIC_BILLING_REQUIRED=false
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
